body {
  background-color: rgb(120, 168, 126);
  color: white;
}

button {
  background-color: white;
  color: rgb(175, 127, 166);
  font-weight: bolder;
  border-color: rgb(90, 145, 98);
  margin: 0%;
  font-size: 2vw;
}

.square {
  width: 9vw;
  height: 9vw;
  vertical-align: middle;
  font-size: 7vw;
}

button.square.winning {
  background-color: rgb(235, 213, 230);
}

.status {
  font-size: 3.5vw;
}

.game {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 3vw;
}

.game-board {
  grid-column: 2;
  grid-row: 4;
  text-align: center;
}

.game-info {
  list-style-position: outside;
  grid-column: 3;
  grid-row: 4;
  font-size: 2vw;
}

.move-button {
  grid-row: 3;
  grid-column: 2;
  text-align: center;
}

header {
  text-align: center;
  grid-column: 2;
  grid-row: 2;
  font-size: 5vw;
}

/* resizing for smaller screens */
@media (max-width: 700px) {
  .game {
    grid-template-rows: auto auto auto auto auto;
  }

  header {
    grid-row: 2;
  }

  .move-button {
    grid-row: 3;
  }

  .game-board {
    grid-row: 4;
  }

  .game-info {
    grid-row: 5;
    grid-column: 2;
  }
}