body {
  background-color: rgb(120, 168, 126);
  color: white;
}

.square {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-color: rgb(90, 145, 98);
  font-size: 40px;
}

.status {
  font-size: 1.5rem;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 30px;
}

.game-board {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.game-info {
  list-style-position: inside;
  grid-column: 3;
  grid-row: 2;
  font-size: 1rem;
}

.restart-button {
  grid-row: 3;
  grid-column: 2;
  text-align: center;
}

button {
  background-color: white;
  color: rgb(175, 127, 166);
  font-weight: bolder;
  margin: 0%;
  font-size: 1rem;
}

header {
  text-align: center;
  grid-column: 1/4;
  grid-row: 1;
  font-size: 2.5rem;
}
